.nftGridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    gap: 1px;
    align-items: center;
    width: 100%;
  }
  
  .nftContainer {
    width: 15%;
    margin: 2px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    flex-direction: row;
    padding: 3px;
    max-height: 500px;
    margin-top: 5%;
    transition: all 0.25s ease-in-out;
    border: 0.1px solid rgba(55, 55, 55, 0.624);
  }
  
  .nftContainer:hover {
    cursor: pointer;
    transform: translate3d(0px, -10px, 0px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(55, 55, 55, 0.624);
  }
  
  .title {
    padding: 8px;
    font-size: 3rem;
    margin-bottom: 8px;
  }
  
  /* Responsive */
  
  @media (min-width: 1200px) {
  }
  
  @media (min-width: 760px) and (max-width: 1200px) {
    .nftContainer {
      width: 22%;
    }
  }
  
  @media (min-width: 600px) and (max-width: 760px) {
    .nftContainer {
      width: 29%;
    }
  }
  
  /* Less than 600 */
  @media (max-width: 600px) {
    .nftContainer {
      width: 45%;
    }
  }