@font-face {
  font-family: Pixel_NES;
  src: url("../public/fonts/pixel_nes.otf");
}

.spinner {
  width: 42px;
  height: 42px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
.container {
  font-family: "Pixel_NES";
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 110vh;
background-size: cover;
  font-family: "Pixel_NES";

}

.header {
  display: flex;
  align-items: center;;

  display: flex;
  flex: 1 1 100%;
  font-size: 0.7rem;
  height: 4.5rem;
  position: fixed;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px;
  width: 100%;
  z-index: 100;
  padding: 0 5rem;
padding-top: 15px;
padding-bottom: 10px;
border-bottom: solid;
border-width: 0.1px;
}


.collectionHeader {
  display: flex;
  align-items: center;
  background-color: rgba(8, 4, 4, 0.6);
  backdrop-filter: blur(10px);
  color: #d3d3d3;
  display: flex;
  flex: 1 1 100%;
  font-size: 0.7rem;
  height: 4rem;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 100;
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.nav_items {
  display: flex;
  justify-content: space-evenly;
  width: 17rem;
  cursor: pointer;
}

.nav_items > p:hover {
  text-shadow: rgb(235, 235, 235) 3px 2px 2px, rgb(0, 191, 255) 3px 3px 2px, rgb(171, 171, 171) 3px 3px 3px;
}

.link:hover {
  text-shadow: rgb(235, 235, 235) 3px 2px 2px, rgb(0, 191, 255) 3px 3px 2px, rgb(171, 171, 171) 3px 3px 3px;
}

.searchSection {
  display: flex;
  color: lightgray;
  font-size: 1rem;
  width: 20rem;
  height: 2.25rem;
  align-items: center;
  padding: 0.2rem;
  margin-left: -10rem;
  border: 1px solid rgb(114, 94, 94);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(100px);
}

.searchSection > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 2.25rem;
  color: initial;
}

.inputField {
  display: flex;
  width: 90%;
  color: initial;
  background: none;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.connect_btn {
  color: #00000078;
  background-color: #00a6ff;
  width: 10rem;
  height: 2.5rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.loggedIn_section {
  color: #00aeff;
  font-size: 0.5rem;
  text-shadow: currentcolor 0px 0px 16px;
  display: flex;
}

.heroSection {
  margin-top: 31rem;
  position: absolute;
  left: 0;
  padding-left: 10rem;
  margin-left: 20px;
  height: max-content;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.bayc_data {
  display: flex;
  justify-content: space-between;
 align-self: center;
  flex-direction: column;
  width: 28rem;
  font-size: 13px;
  font-weight: bold;
  align-items: start;
  margin-top: 3rem;
  padding: 1.1rem;
  background-color: #5a5a5a28;
  border: solid initial;
  border-width: 0.5px;
  border-radius: 10px;
  height: 100%;
  gap: 10px;
  backdrop-filter: blur(50px);
}

.bayc_data__title {
  color: lightgrey;
}

.collection_oneDayTradingVolume {
  display: flex;
  align-items: center;
}

.viewCollection_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.747);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.2rem;
  padding: 0.7rem 1.5rem;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-family: Pixel_NES;
  transition: all 0.2s ease-in-out 0s;
}

.viewCollection_btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.arrow {
  margin-left: 0.2rem;
}

.carousel {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 10%;
}

.carousel_section {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  width: 300px;
  height: 170px;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 450ms ease 0s;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px;
  position: static;
}

.carousel_section:hover {
  margin-top: -0.5rem;
  transform: scale(1.3);
  position: -webkit-sticky; 
}

.carousel_img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out 0s;
  border: solid initial 1px;
  padding: 2%;
  border-radius: 16px;
}
.carousel_img:hover{
  filter: blur(0.5px);
  background: initial;
  filter: blur(1px);
}
.carousel_txt{
  text-align: center;
}
.carousel_profile {
  display: flex;
  position: static;
  top: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 32px;
  outline: solid 1px initial; 
  margin-left: 40%;
}

.carousel_section > p {
  font-size: 0.8rem;
  margin-top: -2.2rem;
  margin-left: 0.8rem;
  text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.airdropPopUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.838)
  );
  font-size: 0.8rem;
  width: 90%;
  height: 3.5rem;
  padding: 0 9rem;
  margin-bottom: 0.7rem;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}

.airdropPopUp_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 8rem;
  height: 2.4rem;
  color: #0088ff;
  background-color: #303030;
  border: solid 1px #00c8ff;
  border-radius: 0.3rem;
  letter-spacing: 0.02rem;
  outline: none;
}

.trendingSection_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3rem auto;
}

.trendingSection_header {
  display: flex;
  justify-content: space-between;
  color: initial;
  width: 10rem;
}

.trendingSection_header > h3:hover {
  cursor: pointer;
}

.trendingSection_header > h3:first-child {
  color: initial;
  text-shadow: initial 0px 0px 1px, rgba(0, 50, 249, 0.6) 0px 0px 5px,
    rgba(0, 108, 249, 0.712) 0px 5px 4px;
  font-weight: lighter;
}

.trendingSection_header > h3:last-child {
  font-weight: lighter;
}

.trendingSection_header > h3:last-child:hover {
  color: initial;
}

.trendingTable {
  width: 100%;
  margin-top: 2rem;
  text-align: right;
}

.tableHead_row {
  color: initial;
  font-size: 0.8rem;
  height: 3rem;
  border-bottom: 1px solid #303030;
}

.firstChild {
  width: 25rem;
  text-align: left;
}

.tableBody_row {
  color: initial;
  line-height: 1.7rem;
}

.tableBody_row :first-child {
  text-align: left;
}

.green {
  color: initial;
}

.red {
  color: initial;
}

.viewCollection_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.CollectionHeroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-top: 1px solid #30303000;
  border-bottom: 1px solid #303030;
}

.CollectionHeroSection > section {
  display: flex;
}

.collectionProfile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.8rem;
  margin-right: 1rem;
}

.collection_marketplace_title_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: initial;
  font-size: 1.2rem;
}

.collection_marketplace_title_icons > section {
  display: flex;
  width: 100%;
}

.collection_icons {
  margin-right: 0.5rem;
  box-shadow: rgba(171, 171, 171, 0.349) 0px 1px 5px;
  border-radius: 1rem;
}

.collection_header_dataTable {
  width: 75rem;
  text-align: right;
  font-size: 0.9rem;
}

.collection_header_dataTable_head_row {
  color: initial;
  line-height: 1.3rem;
}

.collection_header_dataTable_body_row {
  color: initial;
  line-height: 1.3rem;
}

.collection_header_dataTable_body_td_red {
  color: initial;
  text-shadow: currentcolor 0px 0px 16px;
}

.collection_header_dataTable_body_td_green {
  color: #ade25d;
  text-shadow: currentcolor 0px 0px 16px;
}

.collectionPurchaseSection {
  width: 80%;
  height: 70vh;
  padding: 1rem;
  border: 1px solid #303030;
  border-style: hidden solid solid;
  overflow: auto;
}

.collectionPurchaseSection_titles {
  display: flex;
  color: initial;
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #303030;
}

.collectionPurchaseSection_titles :first-child {
  color: initial;
  text-shadow: currentcolor 0px 0px 16px;
  border-bottom: 2px solid #aaaaaa;
  margin-right: 1.5rem;
}

.collectionPurchaseSection_table {
  width: 100%;
  text-align: right;
}

.collectionPurchaseSection_thead {
  color: initial;
}

.collectionPurchaseSection_thead_row {
  height: 3rem;
}

.collectionPurchaseSection_thead_row :first-child {
  text-align: center;
}

.collectionPurchaseSection_thead_row :nth-child(2) {
  width: 20rem;
  text-align: left;
}
.collectionPurchaseSection_tbody {
  color: initial;
  height: 4rem;
}

.collectionPurchaseSection_tbody_row {
  margin: 2rem;
  padding: 2rem;
}

.collectionPurchaseSection_tbody_row :first-child {
  text-align: center;
}

.collectionPurchaseSection_tbody_row :nth-child(2) {
  display: flex;
  align-items: center;
  width: 20rem;
  color: initial;
  text-align: left;
}

.mmCollectionPurchaseSection_tbody_row {
  margin: 2rem;
  padding: 2rem;
}

.mmCollectionPurchaseSection_tbody_row :nth-child(2) {
  display: flex;
  align-items: center;
  width: 20rem;
  color: initial;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
}

.collection_thumbnail {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
}

.rarity {
  color: #929292;
}

.portfolio_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.portfolioComponent_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  margin-top: 5rem;
  padding: 1rem 2rem;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

.portfolioComponent_section > section {
  display: flex;
}

.portfolioData_section {
  margin-top: 3rem;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 67rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 27rem;
  margin: 1rem;
}

.cardContainer img {
  width: 100%;
  object-fit: cover;
}

.sellSection {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.3rem;
}

.inputField_amount {
  display: flex;
  width: 20%;
  color: rgb(217, 217, 217);
  background: none;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  border: 0.3px solid rgb(249, 82, 0);
  border-radius: 0.3rem;
  outline: none;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.sell_btn {
  width: 10rem;
  height: 3rem;
  color: #c2c2c2;
  background-color: #ffffff;
  text-shadow: currentcolor 0px 0px 25px;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}

.purchase_btn {
  cursor: pointer;
}



@media only screen and (max-width: 600px) {
.main{
    background-color: lightblue;
  }
}
.coverImage {
  width: 400px;
  height: auto;
  border-radius: 16px;
  border: solid 4px gray;
}
.ctext{
  font-size: 12px;
  position: absolute;
  color: rgba(224, 224, 224, 0.984);
  height: max-content;
  margin-top: -60px;
  margin-left: 45px;
  backdrop-filter: blur(10px);
  padding: 10px;
  border: solid 1px gray;
  text-align: center;
  display: flex;
  border-radius: 8px;
  text-shadow: rgb(0, 0, 0) 3px 3px 3px, rgba(0, 0, 0, 0.909)2px -3px 3px,
    rgba(0, 0, 0, 0.901) 0px 3px 3px;
}
.icon p::after {
 content: "/whsl.ico";
}

.profileHeader {
  align-items: center;
  margin: 10px;
}

.coverImage {
  width: 1400px;

  height: 550px;
  border-radius: 16px;
  border: solid 4px gray;
}

.profilePicture {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  vertical-align: inherit;
  border: 5px solid;
  border-color: rgba(0, 0, 0, 0.76);
  margin-top: -72px;
  margin-left: 5%;
  color: initial;
}

.profileName {
  margin-left: 2.5%;
  color: ïnitial;
  margin-top: 2%;
  font-size: 20px;
}



.profileName {
  margin-left: 2.5%;
  color: ïnitial;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 10px;
}

.tab {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: initial;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.tab:hover {
  color: rgba(94, 94, 94, 0.8);
}

.activeTab {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #0062a8;
  color: #005897;
}

.tabContent {
  display: none;
  opacity: 0;
  transition: all 0.1s linear;
  justify-content: center;
  margin-bottom: 5%;
}

.activeTabContent {
  display: flex;
  flex-direction: row;
  opacity: 1;
  justify-content: center;
  margin-bottom: 5%;
}
.searchSection {
  display: flex;
  color: lightgray;
  font-size: 1rem;
  width: 15rem;
  height: 2.25rem;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid rgb(114, 94, 94);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(100px);
}

.searchSection > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 2.25rem;
  color: grey;
}

.inputField {
  display: flex;
  width: 90%;
  color: grey;
  background: none;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Pixel_NES", Helvetica, Arial, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

